[DEFAULT]
username = jsmith@mycompany.com
token = xxxxxxxxxxxxxxx
server = https://mycompany.atlassian.net
assignee = jsmith
customfield_11135 = {"alias":"squad","type":"list"}
squad = Alpha
key = DC
#board = Datacenter Scrum ( ID 96 )
board_id = 96
sprint_field = customfield_10016
closed_status = ['Closed', 'Done']

[ps]
type = Support
labels = ProdSupport

[psc]
type = Support
labels = ProdSupport
close = True

[ss]
type = Support
labels = SalesSupport,security

[ssc]
type = Support
labels = SalesSupport,security
close = True

[ds]
type = Support
labels = DevSupport

[dsc]
type = Support
labels = DevSupport
close = True

[b]
type = Bug
assignee =
board_id =

[ops]
type = Ops Request
assignee =
board_id =

[opsc]
type = Ops Request
close = True

[t]
type = Task
assignee =
board_id =