[DEFAULT]
username = jsmity@mycompany.com
password = xxxxxxxxxxx
#token = xxxxxxxxxxxxxxx
server = https://mycompany.atlassian.net

assignee = jsmith
customfield_11135 = {"alias":"squad","type":"list"}
customfield_11136 = {"alias":"dummy"}
squad = Alpha
key = DC
#board = Datacenter Scrum ( ID 96 )
board_id = 96

[ps]
type = Support
labels = ProdSupport
close = True
work = 15m

[ds]
type = Support
labels = DevSupport 
close = True 

[bug]
type = Bug

[ops]
type = Ops Request

[opsc]
type = Ops Request
close = true

[opsmore]
type = Ops Request
lables = development tag2 tag3


